body {
    background-color: black;
    color: white;
    height: 100vh;    
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", "serif";
}
#map {
    position: relative;
    width: 1476px; 
    height: 900px;
    top: -100px;
}
.container {
    height: 100vh;
}
.main {
    height: 100%;
    margin: auto;
    width: 80%;
}
.news {
    color: #2f2f2f;
    display: inline-block;
    width: 300px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: absolute;
    left: 500px;
    top: 400px;
    background: no-repeat url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png) 0 0;
    background-color: #EBEBEB;
    background-repeat: repeat;

}

.headline {
    text-align: center;
    position: relative;
}
.headline-text {
    font-family: 'Playfair Display', serif;
    line-height: normal;
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}
.hl2 {
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    font-family: 'Droid Serif', serif;
}
.hl2:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.hl2:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;
}

#slider {
    position: relative;
    top: -50px;
    color: white;
}

.date-container {
    position: absolute;
    top: 0;
    left: 50px;
}

li {
    list-style: none;
    height: 0;
    line-height: 2em;
    margin: 0;
    padding: 0 0.5em;
    overflow: hidden;
}

li.show {
    height: 2em;
    margin: 2px 0;
}
ul li {
    white-space: normal;
} 
