body {
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
}

/*
 * -- Timeline --
 */

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 3px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    border: solid white;
    border-width: 3px;
}
