body {
    background-color: black;
    color: white;
    height: 100vh;    
    margin: 0;
    padding: 0;
}
#map {
    position: relative;
    overflow: overlay;
    height: 80%;
}
.container {
    height: 100vh;
}
.main {
    overflow: overlay;
    height: 100%;
}

