<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>#MeToo</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="{% static 'map/datamaps.usa.min.js' %}"></script>
        <script src="{% static 'map/datamaps.fading-bubbles.js' %}"></script>
        <script src="{% static 'map/datamaps.world.min.js' %}"></script>
        <script src="{% static 'map/chroniton.js' %}"></script>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
          </head>
    <body>
        {% block content %}
        {% endblock %}
