{% extends "map/header.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'map/index.css' %}">
<div class="container">
    <h1>#MeToo</h1>
    <!--
    <div class="timeline">
        <ul>
            <li>
                <div>
                </div>
            </li>
             <li>
                <div>
                </div>
            </li>
             <li>
                <div>
                </div>
            </li>
             <li>
                <div>
                </div>
            </li>
            
        </ul>
    </div>
    -->
    <div id="map" style="">
    </div>

</div>
{% block map %}
{% include "map/map.html" %}
{% endblock %}
{% endblock %}

