{% extends "map/header.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'map/index.css' %}">
<link rel="stylesheet" href="{% static 'map/slider.css' %}">
<link rel="stylesheet" href="{% static 'map/d3.slider.css' %}">
<div class="container">
    <div class="main">
    <div id="map" style="">
    </div>
    <div id="slider">
    </div>
    <script src="{% static 'map/slider.js' %}"></script>
    </div>
</div>
{% block map %}
{% include "map/map.html" %}
{% endblock %}
{% endblock %}

