{% extends "map/header.html" %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'map/index.css' %}">
<link rel="stylesheet" href="{% static 'map/chroniton.css' %}">
<div class="container">
    <div class="main">
    <div id="map" style="">
    </div>
    <div id="slider">
    </div>
    </div>

   <!-- 
    <div id="news-0" class="news">
        <div class="headline">
            <span class="headline-text">lol</span>
            <p><span class="hl2"></span></p>
        </div> 
    </div>
    <div class="date-container">
        <p id="date">lol</p>
    </div> -->
    <div id="feed">
        <ul id="feed-list">
        </ul>
    </div>
</div>

    <script src="{% static 'map/slider.js' %}"></script>
{% block map %}
{% include "map/map.html" %}
{% endblock %}
{% endblock %}

